$root-font-size: 16px;

$font-family: "Open Sans";
$font-weight-stronger: 800;

$color-white: #ffffff;
$color-offwhite1: #9095aa;
$color-light-dark: #1c2331;
$color-gray-dark: #2b2937;
$color-gray-light1: #494a5a;
$color-gray-light2: #575757;
$color-light-yellow1: #eac80d;
$color-light-yellow2: #bfa30c;
$color-light-green1: #1abc9c;
$color-light-green2: #18937b;
$color-light-blue1: #5d6a9a;
$color-light-blue2: #474f6f;

$margin-top-section: 50px;

/* cart */
$cart-quantity-width: 100px;
$cart-table-alignment: center;

/* product */
$product-card-header-height: 62px;
$product-card-header-font-size: 29px;
$product-card-header-border-bottom-width: 3px;
$product-card-header-pricing-font-size: 90px;
$product-card-feature-height: 52px;
